@import "model.less";

.layer{
  width:600px;
  height:200px;
  background-color:green;
  >div{
    width:400px;
    height:100px;
    //background-color:red;
    background: url(../../assets/pic1.png) repeat;
  }
}